<h1>Posts</h1>
<div class="row">
    <!-- master view -->
    <div class="col-md-6">
        <!-- user drop down-->
        <select class="form-control" #u (change)="filterPosts(u.value)">
            <option value="">--- Select a user ---</option>
            <option *ngFor="#user of users" [value]="user.id">{{ user.name }}</option>
        </select>

        <!-- Loading Spinner -->
        <spinner [visible]="postsLoading"></spinner>

        <!-- Pagination -->
        <pagination [items]="posts" [page-size]="pageSize" (page-changed)="onPageChange($event)"></pagination>

        <!-- Posts -->
        <ul class="posts list-group">
            <li *ngFor="#post of postsOnThisPage"
                class="list-group-item"
                [class.active]="currentPost == post"
                (click)="onPostSelected(post)">
                {{ post.title }}
            </li>
        </ul>
    </div>

    <!-- detailed view -->
    <div *ngIf="currentPost" class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ currentPost.title }}</h3>
            </div>
            <div class="panel-body">
                {{ currentPost.body }}
            </div>
            <!-- divider -->
            <hr/>
            <!-- comment loading spinner-->
            <spinner [visible]="commentLoading"></spinner>
            <div *ngFor="#comment of currentPost.comments"
                class="media">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object thumbnail"
                                 src="http://lorempixel.com/80/80/people/?random={{ comment.id }}" >
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ comment.name }}
                        </h4>
                        {{ comment.body }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>